
header.navbar .navbar-brand {
	padding:37px 15px;
	height:auto;
	font-size:50px;
	color:#E87169;
	font-weight:600;
    width: 158px;
	transition:all 0.3s ease-in;
    background: url(../images/logo-b.png) left center no-repeat;
}

header.navbar.navbar-small .navbar-brand {
	padding:20px 15px;
	font-size:36px;
    width: 114px;
    background: url(../images/logo-a.png) left center no-repeat;
}

@media (max-width:767px) {
    header.navbar .navbar-brand {
    	padding:20px 15px;
        margin-left: 20px;
    	font-size:36px;
        width: 114px;
        background: url(../images/logo-a.png) left center no-repeat;
    }
}

@media (max-width: 991px) and (min-width: 768px) {
    .grid-products .small-product li img {
        display: block;
    }
}


.top-header .contacts li {
	color:#555;
	font-weight:600;
	margin-top:8px;
}

.top-header .links a {
	color:#555;
	position:relative;
}

header.navbar .navbar-text {
	color:#555;
	font-weight:500;
	font-size:16px;
    margin-left: 30px;
}

#featuredproducts-1 {
    height: 200px;
    background: url(../images/map-promo.png) left top no-repeat;
}

article.product-item {
    border-bottom: 1px dashed #dddddd;
}

article.product-item .product-info {
    margin-top: 10px;
}

article.product-item .product-info p {
    margin: 0 0 8px 0;
    font-weight: normal;
}

.grid-products .small-product li img {
    width: 100%;
}
.small-product.nowidth li img {
    width: 40%;
}

.go-to-map-banner {
    padding: 20px 0;
    margin-bottom: 20px;
    background: url(../images/map-promo-transparent.png) right top no-repeat;
}

#products.grid article.product-item p {
    display: block;
    margin: 0;
}

.list-ad-banner {
    text-align: center;
    padding: 10px 0;
    margin: -10px 15px 20px 15px;
    background-color: #eee;
}

.sidebar-ad-banner {
    text-align: center;
    padding: 10px 0;
    margin: 0px 15px 20px 15px;
    background-color: #eee;
}

article.product-item .product-labels .label {
    border-radius: 10%;
    min-width: 36px;
    width: auto;
    height: 25px;
    padding: 5px 5px;
    display: inline-block;
    font-size: 10px;
    border: 2px solid #FFFFFF;
    text-transform: uppercase;
}

article.product-item.product-single p {
    color: #333;
    margin: 0;
}

article.product-item.product-single .product-info li span {
    width: 200px;
    color: #333;
    display: inline-block;
    font-weight: 400;
}

.equipment-on-map {
    width: 100%;
}

#map-location-form {
    position: relative;
    z-index: 999;
    top: 20px;
    margin-bottom: -35px;
}
