/*----------------------------------------------------
 * Copyright 2014 Pixelized Studio
 * http://www.pixelized.cz
 * Color Switcher
 * color-switcher.css
 *
 * Version 3.0
 * Released: 12.12.2014
 * http://creativecommons.org/licenses/by/4.0/
----------------------------------------------------*/

/*------------------------------
	COLOR SWITCHER
------------------------------*/

#color-switcher {
	background-color:#FFFFFF;
    position:fixed;
    left:-214px;
    top:250px;
    width:213px;
    z-index:1000;
	box-shadow:0 0 1px 1px rgba(0,0,0,0.1);
}

#toggle-switcher {
	background-color:#555555;
	color:#FFFFFF;
	font-size:23px;
	text-align:center;
    position:absolute;
    left:213px;
    top:0;
    width:40px;
	height:40px;
	cursor:pointer;
	padding-top:4px;
}

#color-switcher span {
	color:#777777;
	display:block;
	font-weight:400;
	font-size:15px;
	text-transform:uppercase;
	padding:12px 15px;
	height:40px;
}

#color-switcher ul {
	margin:0;
	padding:5px 10px 10px;
}

#color-switcher ul li {
	background-color:#000000;
	border:3px solid rgba(0,0,0,0.1);
	width:30px;
	height:30px;
	margin:0 3px;
	cursor:pointer;
	border-radius:50%;
}

#color-switcher ul li#red {background-color:#E87169;}
#color-switcher ul li#purple {background-color:#9569E8;}
#color-switcher ul li#yellow {background-color:#2C3E50;}
#color-switcher ul li#blue {background-color:#19A5D4;}
#color-switcher ul li#dark-blue {background-color:#206BA8;}
#color-switcher ul li#orange {background-color:#FA762F;}
#color-switcher ul li#green {background-color:#36BA4A;}
#color-switcher ul li#brown {background-color:#BA8C36;}
#color-switcher ul li#dark-red {background-color:#BF1F1F;}
#color-switcher ul li#light-green {background-color:#43E8AC;}

#color-switcher .btn {
	margin:0 10px 10px;
}

@media (max-width:767px) {
	#color-switcher {
		top:150px;
	}
}
